/* WooCommerce admin menu icons */
#adminmenu #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image::before{content: "\f174" !important;font-family: "dashicons" !important;}
#adminmenu #menu-posts-shop_order     .menu-icon-shop_order div.wp-menu-image:before{content: "\f174" !important;font-family: "dashicons" !important;}
#adminmenu #menu-posts-shop_coupon    .menu-icon-shop_coupon div.wp-menu-image:before{content: "\f524" !important;font-family: "dashicons" !important;}
#adminmenu #menu-posts-product        .menu-icon-product div.wp-menu-image:before{content: "\f312" !important;font-family: "dashicons" !important;}
#adminmenu #toplevel_page_wc-reports  .menu-icon-generic div.wp-menu-image:before{content: "\f239" !important;font-family: "dashicons" !important; font-size: 20px !important;}

/* WooCommerce product report button */
.misc-pub-section-product-report #timestamp:before{
  content: "\f239";
}

/* WooCommerce status paid */
.subsubsub .wc-processing a{
  /*color: #ca4a1f;*/
  /*font-weight: bold;*/
}

/* WooCommerce action buttons */
.column-wc_actions .complete {
  background: #c8d7e1;
  color: #2e4453;
}
.column-wc_actions a.processing:after{
  background: #c6e1c6;
  color: #5b841b;
}

/* Yoast SEO admin menu icons */
#adminmenu #toplevel_page_wpseo_dashboard .dashicons-before img {
  display: none
}

#adminmenu #toplevel_page_wpseo_dashboard div.wp-menu-image.svg {
  background-size: 0 !important;
}

#adminmenu #toplevel_page_wpseo_dashboard .wp-has-submenu div.wp-menu-image:before {
  content: "\f239" !important;
  font-family: "dashicons" !important;
  font-size: 20px;
  display: inline-block;
}

#adminmenu #toplevel_page_yst_ga_dashboard .dashicons-before img {
  display: none
}

#adminmenu #toplevel_page_yst_ga_dashboard div.wp-menu-image.svg {
  background-size: 0 !important;
}

#adminmenu #toplevel_page_yst_ga_dashboard .wp-has-submenu div.wp-menu-image:before {
  content: "\f239" !important;
  font-family: "dashicons" !important;
  font-size: 20px;
  display: inline-block;
}

/* Yoast SEO Remove notices */
.wpseo_content_wrapper #sidebar-container,
.yoast_premium_upsell_admin_block
{
  display: none;
}

/* Mailjet */
#toplevel_page_wp_mailjet_options_top_menu div.wp-menu-image img {
  display: none
}

#toplevel_page_wp_mailjet_options_top_menu div.wp-menu-image:before {
  content: "\f466" !important;
  font-family: "dashicons" !important;
}

/* Backwpup */
#adminmenu #toplevel_page_backwpup .dashicons-before img {
  display: none
}

#adminmenu #toplevel_page_backwpup .wp-has-submenu div.wp-menu-image:before {
  content: "\f468" !important;
  font-family: "dashicons" !important;
}

/* WPML */
#toplevel_page_sitepress-multilingual-cms-menu-languages div.wp-menu-image img {
  display: none
}

#toplevel_page_sitepress-multilingual-cms-menu-languages div.wp-menu-image:before {
  content: "\f326" !important;
  font-family: "dashicons" !important;
}

/* Hustle */
#toplevel_page_hustle div.wp-menu-image:before {
  content: "\f488" !important;
  font-family: "dashicons" !important;
}
#toplevel_page_hustle div.wp-menu-image img{
  display: none;
}
.frash-notice{
  display: none !important;
}

/* Elementor */
#toplevel_page_elementor div.wp-menu-image:before {
  content: "\f538" !important;
  font-family: "dashicons" !important;
  font-size: 20px !important;
  margin-top: 0 !important;
}
.elementor-shortcode-input + .elementor-shortcode-input {
  display: none;
}
.elementor-message.is-dismissible{
  display: none;
}


/* Ocean */
#toplevel_page_oceanwp-panel div.wp-menu-image:before {
  content: "\f538" !important;
  font-family: "dashicons" !important;
}
.oceanwp-review, .oceanwp-octify, .oceanwp-kinsta, .owp-sticky-notice, .oe-rating-notice{
  display: none;
}
body #customize-theme-controls #accordion-section-oceanwp_upsell_section{
  display: none !important;
}

/* iThemes Security */
#toplevel_page_itsec div.wp-menu-image:before, .it-icon-itsec:before {
  content: "\f332" !important;
  font-family: "dashicons" !important;
}

/* Gravity Forms admin menu icon */
#toplevel_page_gf_edit_forms .wp-menu-image:before, .gform_media_link .gform_media_icon:before  {
  content: "\f314";
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
}
#toplevel_page_gf_edit_forms .wp-menu-image, .gform_media_link .gform_media_icon{
  background: none !important;
}

.gform_media_link .gform_media_icon:before {
  font: 400 18px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  padding: 0;

}
.gform_media_link .gform_media_icon {
  width: 18px;
  height: 18px;
  vertical-align: text-top;
  margin: 0 2px;
  display: inline-block;
  padding: 0;
  float: none;
  margin: 0 4px 0 0;
}
.gform_media_link .gform_media_icon + div {
  display: inline-block;
  padding-left: 0 !important;

}

/* WooCommerce PDF Invoices & Packing Slips: ads */
.wpo-wcpdf-work-at-wpovernight, .wcpdf-extensions-ad{
  display: none;
}

/* WooCommerce PDF Invoices & Packing Slips: hide Invoice PDF action when order status is cancelled/pending/failed */
.status-wc-failed .wpo_wcpdf.invoice,
.status-wc-cancelled .wpo_wcpdf.invoice,
.status-wc-pending .wpo_wcpdf.invoice
{
  display: none !important;
}

/* WooCommerce PDF Invoices & Packing Slips: hide meta box Send email */
#wpo_wcpdf_send_emails{
  display: none;
}

/* Easy Updates Manager ads */
.updraft-ad-container, #easy-updates-manager-dashnotice, .updraftmanagermessage.error{
  display: none !important;
}

/* Duplicate Post ads */
#duplicate-post-notice{
  display: none !important;
}

/* Imagify ads */
.imagify-sidebar-section, #imagify-get-pricing-modal, .imagify-notice, .imagify-notice.imagify-notice {
  display: none !important;
}

/* WP */
#wpfooter{
  display: none !important;
}

/* ACF */
.ac-notice.is-dismissible{
  display: none !important;
}

/* OptinMonster */
.om-review-notice{
  display: none !important;
}

/* Kinsta */
#wp-admin-bar-kinsta-cache{
  display: none !important;
}

/* Role shop_order_manager */
.role-shop_order_manager #menu-posts,
.role-shop_order_manager #menu-comments,
.role-shop_order_manager #menu-tools,
.role-shop_order_manager #menu-media{
  display: none;
}

/* Rank Math menu icon */
#adminmenu #toplevel_page_rank-math .wp-has-submenu div.wp-menu-image{
  background-image: none !important;
}
#adminmenu #toplevel_page_rank-math .wp-has-submenu div.wp-menu-image:before {
  content: "\f239" !important;
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color .1s ease-in;
}
#adminmenu #toplevel_page_rank-math .wp-has-submenu div.wp-menu-image img {
  display: none;
}

/* Preview Emails for WooCommerce */
.woocommerce_page_digthis-woocommerce-preview-emails .notice-warning{
  display: none;
}

/* Members */
.members-review-notice{
  display: none !important;
}